<h1> Bonjour</h1>

<p> Voici la commande de 
    <%= 
        @user
        #  link_to "Voici la Commande", 
        #  url_for(host: 'http://localhost',
        #    controller: 'home',
        #    action: 'index')
    %> : <%=  @item %>
</p>