<span class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4">
    
            <%= link_to 'Commander', delete_cart_path(:id), 
                    method: :delete, 
                    data: { confirm: 'Are you sure?' } 
                	%>
</span>